

body {
    background: linear-gradient(125deg, #000000, #1f1e1ea9);
    text-align: center;
    display: flex;
    padding: 40px;
}

a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    
}

ul {
    list-style: none;
    text-align: center;
}

h1 {
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
}

img {
    width: 600px;
    border-radius: 8px;
    border: 4px solid #1b1b1b;
}

img:hover {
    transform: scale(1.02);
    transition: transform 0.4s ease;
  }

p {
    font-size: 20px;
    line-height: 1.6;
    margin: 20px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}
